.input{
    width: 550px;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
}

.input input{
    width: 530px;
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 8px;
}